<%= content_for :body_setup do %>
  data-spy="scroll" data-target=".navbar"
<% end %>

<div class="row-fluid">
  <div class="span3 text-center">
    <h2>
      <%= image_tag "annaface.jpg", { :height => 300, :width => 200, :class => "img-circle", :alt => "Anna" } %>
    </h2>
  </div>

  <div id="bio" class="span8 offset-half">
    <h2>Hello!</h2>

    <p class="bio">
      My name is Anna and I would love to work with you!  If you’re a blogger, writer/speaker, or small business owner who needs help organizing your schedule while keeping updated and on task, I’m your girl!  Being the manager of my home, I know how busy life can get, and that’s why I’m here!  I’ve always been an organized individual and strive to create excellence in all that I do.  You have so much to do already, and that’s why I want to help you simplify your life by tackling each and every project you send my way so that you can focus on what you really love doing.
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 pad2">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#work-with-me">Policies</a></li>
          <li><a href="#contact-me">Contact</a></li>
          <li><a href="#purchase-hours">Purchase Hours</a></li>
          <li class="pull-right hidden"><a href="#">Top</a></li>
        </ul>
      </div>
    </div>

    <section id="testimonials" class="nav-section first">
      <h5>Testimonials</h5>

      <ul class="list">
        <li>
          "I have personally had the pleasure of working with Anna in the travel industry. <strong>Her work ethic, as well as her professional persona are second to none.</strong> Organization and attention to detail in every aspect of every task she undertakes are only a couple of the many attributes Anna brings to the table. You can rest assure that while in your employ, Anna will get the job done." 

          <p class="pull-right">
            -Sharon Dumas, 
            <a href="http://www.myhorizontravel.com" target="_blank">
              Horizon Travel, Inc.
            </a>
          </p>

        </li>
      </ul>
    </section>

    <section id="services" class="nav-section">
      <h5>My Services</h5>

      <ul class="list">
        <li>Scheduling</li>
        <li>Travel Arrangements</li>
        <li>Creating/Ordering Business Cards</li>
        <li>Calendar Upkeep / Reminders</li>
        <li>Email organization/management</li>
        <li>Email List Management</li>
        <li>Information Organization (charts/spreadsheets, etc.)</li>
        <li>Social Media</li>
        <li>Topic Research</li>
        <li>Proofreading</li>
        <li>Transcription</li>
        <li>Event Planning</li>
        <li>Greeting Cards</li>
        <li>Slideshows</li>
        <li>Powerpoints</li>
        <li>Basic blog maintenance (adding pages, widgets, plug ins, etc.)</li>
      </ul>

      <p>Don't see what you're looking for listed above? Just ask!</p>

      <p class="more">
        *For web design/development, <a href="../ilya/index.html">click here</a>.
      </p>
    </section>

    <section id="work-with-me" class="nav-section">
      <h5>How We'll Work Together</h5>

      <h6>Hiring me</h6>
      <ol class="list incognito">
        <li>
          <a href="#contact-me">Contact me</a> and introduce yourself. :) Let me know what services you need, and schedule your complimentary 15-minute Skype call consultation. This will help us figure out if we’re a good fit to work together before you purchase hours.
        </li>

        <li>
          After the consultation, return to this page and submit your payment by purchasing either 1, 5, 10, or 20 hours (hours expire six months from date of purchase).
        </li>
      </ol>

      <h6>Payments & Refunds</h6>
      <p>
        All payments are to be made up front via PayPal (which accepts credit and debit cards, and you don’t need to have a PayPal account to pay).  This keeps it simple for everyone: I don’t need to chase down money owed, and you will know exactly how much time and money we’re working with (no surprise bills!).
      </p>

      <p>
        Due to the nature of this type of work, there are no refunds.
      </p>

      <h6>What Is and Isn’t Billable</h6>
      <p>
        Everything related to you and your projects is billable towards the hours you purchase. Scheduled Skype calls, an email that requires a lengthy response, an in-person meeting, any work I do on your behalf – it’s all billable. 
        <br/>
        *Initial get-to-know-you Skype calls and initial emails sent back-and-forth are not billable towards your hours.
      </p>

      <h6>Hours of Operation</h6>                  
      <p>
        Eastern Time Zone<br/>
        I am usually available via email Monday - Friday from 9:00am - 5:00pm EST.I am not available on weekends or holidays.
        <br/><br/>
        *All Skype calls must be scheduled at least 48 hours in advance.
      </p>

      <h6>Turnaround Time</h6>
      <p>
        I strive to return all emails/messages within 24 hours (not including weekends and holidays).
      </p>

      <p>
        Project and task turnaround times vary by what the project or task is, but I strive to complete all projects and tasks that are handed to me within a week. I will always tell you when (based on your needs and my schedule) you can expect a project or task to be completed.
      </p>

      <p>
        At this time, I cannot guarantee emergency/need-it-done-right-now tasks (although that doesn't mean I can't get something done within a day - it doesn't hurt to ask).
      </p>

      <h6>Tracking Time and Timesheets</h6>
      <p>
        Time is tracked in 5-minute increments.  Each client’s timesheet will be accessible to them at any time via Google Drive.
      </p>

      <h6>How Long Your Hours Are Good For</h6>
      <p>Hours expire six months from the date of purchase.</p>

      <h6>What Happens When You Run Out of Hours or Your Hours Expire</h6>
      <p>
        When you get down to the last few hours, I will send an email to remind you. You’ll be able to then decide whether you’d like to buy more hours (in which case, I’ll direct you to this page to pay), or whether you’d like to part ways and not renew your hours (in which case, I’ll finish your tasks on a good note and in a good place).
      </p>

      <p>
        If your hours expire because they haven’t been used within the six months, that’s that and they’re gone.
      </p>
    </section>

    <section id="contact-me" class="nav-section">
      <h5>Contact Me</h5>
      <form class="row-fluid" accept-charset="UTF-8" action="/admin/messages" method="post">
        <div class="span4">
          <input class="input-block-level" type="text" name="message[name]" placeholder="Name">
          <input class="input-block-level" type="text" name="message[email]" placeholder="Email">  
          <input class="input-block-level" type="text" name="message[website]" placeholder="Website">
        </div>

        <div class="span8">
          <textarea class="input-block-level" name="message[message]" placeholder="Message" rows="5"></textarea>
          <button class="btn btn-primary pull-right" type="submit">Send</button>
        </div>        
      </form>
    </section>

    <section id="purchase-hours" class="nav-section last">
      <h5>Purchase Hours</h5>

      <!-- 1 Hour PayPal Button -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="VY6Z2NYB9KM6A">
        <input type="submit" name="submit" value="1 Hour - $30" class="btn btn-primary"/>
      </form>
      
      <!-- 5 Hour PayPal Button -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="SNLZN7V5B5E3J">
        <input type="submit" name="submit" value="5 Hours - $125 ($25 per hour)" class="btn btn-primary"/>
      </form>
      
      <!-- 10 Hour PayPal Button -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="Q43QRXKPGZXZY">
        <input type="submit" name="submit" value="10 Hours - $220 ($22 per hour)" class="btn btn-primary"/>
      </form>

      <!-- 20 Hour PayPal Button -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="XGAT3D29BZRAY">
        <input type="submit" name="submit" value="20 Hours - $400 ($20 per hour)" class="btn btn-primary"/>
      </form>

      <p>*Hours expire six months from date of purchase.</p>
      <p class="more">
        **When considering pricing, please keep in mind that one of the benefits of hiring a virtual assistant is that you are relieved of the burden of paying taxes, health insurance, or office expenses for an employee. These items are accounted for in the prices above.
      </p>
    </section>
  </div>
</div>


<% content_for :scripts do %>
  <script>
    $(document).ready(function () {
      $(".alert").alert();
      $(".navbar").scrollspy({
        offset: 150
      });
      $(".navbar").affix({
        offset: $(".navbar").position()
      });
    });
  </script>
<% end %>