<div class="row-fluid">
  <div class="span6 text-center">
    <h2>
      <a href="<%= url_for :action => "ilya", :controller => "static" %>">
        <%= image_tag "ilyaface.jpg", { :height => 300, :width => 200, :class => "img-circle", :alt => "Ilya" } %>
      </a>
      <h5>Ilya</h5>
      <ul>
        <li>web developer</li>
      </ul>
    </h2>
  </div>

  <div class="span6 text-center">
    <h2>
      <a href="<%= url_for :action => "anna", :controller => "static" %>">
        <%= image_tag "annaface.jpg", { :height => 300, :width => 200, :class => "img-circle", :alt => "Anna" } %>
      </a>
      <h5>Anna</h5>
      <ul>
        <li>virtual assistant</li>
      </ul>
    </h2>
  </div>
</div>
