<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1>Message from Burstcreations!</h1>
    <h5>From: <a href="mailto:<%= @message.email %>"><%= @message.name %></a></h5>
    <h6>Website: <%= @message.website %></h6>
    
    <p><%= @message.message %></p>      
  </body>
</html>