body {
  text-align: center;
}

img {
  margin-top: 13em;
}

img:hover {
  opacity: 0.8;
}

#blog-link {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.2em;
  font-family: sans-serif;
  text-decoration: none;
  color: #4f4f4f;
  padding: 10px 12px;
}
